.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.div-login {
  width: 550px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: #e2e2e2;
  padding: 10px;
  margin-top: 10vh;
  align-items: center;
  border-radius: 7% / 5%;
}

.logo-img {
  height: 220px;
  width: 220px;
  align-items: center;
}
.div-login-form {
  width: 250px;
  align-items: center;
  text-align: center;
}

.login-form-group {
  height: 50px;
  width: auto;
  align-items: center;
  text-align: center;
}

.login-input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  color: #2980ba;
  border: 2px solid #2980ba;
  border-color: #2980ba;
  border-radius: 7% / 50%;
  text-align: center;
}
.loginButton {
  border-style: none;
  width: 145px;
  margin: 0 auto;
  align-items: center;
}

.formLabel {
  margin: 10px;
  height: 50px;
  width: 400px;
  align-items: center;
  text-align: center;
}

.new-user-div {
  color: black;
  font-weight: 550;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
