.profile-container
{
    text-align: center;
    align-items: center;
    background-color: #E2E2E2;
}

.profile-pic-container
{
    width: 120px;
    height: 120px;
    border-width: 2px;
    border-color: #2980BA;
    border-radius: 50%;
}

.profile-pic-img
{
    width: 100px;
    height: 100px;
}

.profile-info-container
{
    text-align: center;
    background-color: #2980BA;
}

.profile-label
{
    color: white;
    font-weight: bold;
}