.profile-container
{
    margin-top: 30px;
    text-align: center;
    align-items: center;
    flex-flow: column;
    width: 420px;
    
}

.profile-pic-container
{
    width: 150px;
    height: 150px;
    background-color: #E2E2E2;
    border: 3px solid #2980BA !important;
    border-radius: 75px !important;
    margin-bottom: 30px;
}

.profile-pic-img
{
    margin-top: 10px;
    height: auto;
    width: 100%;
}

.profile-info-container
{
    text-align: center;
    background-color: #C4C4C4 ;
    border-radius: 20px;
    height: 480px;
}

.profile-label
{
    color: white;
    font-weight: bold;
}

.profile-item-div
{
    height: 35px;
    background-color: white;
    color: #2980BA;
    border-radius: 2% / 20%;
    margin-bottom: 15px;
}

.edit-buttons-div
{
    margin-top: 20px;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.edit-profile-button 
{
    background-color: white;
    width: 195px;
    height: auto;
}

.change-password-button
{
    background-color: white;
    width: 195px;
    height: auto;
}

#editProfileButtonImg
{
    max-width: 100%;
    height: auto;
}

#changePasswordButtomImg
{
    max-width: 100%;
    height: auto;
}