.profile-container
{
    margin-top: 80px;
    text-align: center;
    align-items: center;
    width: 300px;
}

.profile-pic-container
{
    width: 150px;
    height: 150px;
    align-items: center;
    border-width: 2px !important;
    border-color: #2980BA !important;
    border-radius: 50px !important;
}

.profile-pic-img
{
    width: 100px;
    height: 100px;
}

.profile-info-container
{
    text-align: center;
    background-color: #2980BA;
}

.profile-label
{
    color: white;
    font-weight: bold;
}

.profile-item-div
{
    height: 30px;
    background-color: #E2E2E2;
    color: #2980BA;
}