footer
{
    text-align: center;
    align-items: center;
    color: #2980BA;
    background-color: #E2E2E2;
    margin-bottom: 0%;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 20px 0;   
    margin-top: -70px;
    height: 70px;
    clear: both;
}