.navbar
{
    background-color: #E2E2E2 !important;
}

.navbar-item
{
    color: #2980BA !important;
}

#navbarScrollingDropdown
{
    color: #2980BA !important;
}

.header-logo-img
{
    width: 45px;
    height: 45px;
    align-items: center;
}

.navbar-toggler 
{
    max-width: 60px;
    margin-right: 0%;
}