.Navbar {
  color: white;
}
.navbar {
  background-color: white !important;
}

.navbar-item {
  color: #2980ba !important;
}

#navbarScrollingDropdown {
  color: #2980ba !important;
}

.header-logo-img {
  height: auto;
  width: auto;
  max-width: 40px;
  max-height: 40px;
  align-self: center;
  margin: auto;
}

.navbar-toggler {
  max-width: 60px;
  margin-right: 0%;
}

.SearchButton {
  color: white;
  background-color: #2980ba;
  border-radius: 8px;
}
