.feed-container
{
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: center;
}

.edit-button
{
    width: 100px;
    height: auto;
    cursor:pointer;
    border:none;
    background-color: white;
}

#editImage
{
    max-width: 100%;
}

.cards-div
{
    position: relative;
    margin-top: 20px;
}

.card
{
    cursor:pointer;
    border-width: 4px;;
    border-color: #E2E2E2;
    border-radius: 24px;
}

.card-picture
{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.card-body
{
    color: #2980BA;
}

.card-footer
{
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}


.add-button-div
{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 120px;
    height: 120px;
    float: right;
    background-color: white;
}

.modal-content
{
    border-radius: 23px;
    border: 2px solid #2980BA;
}

.add-button
{
    background-color: white;
}

#addButtonImg
{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    border:none;
}

.modal-header
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #FFF;
    background-color: #2980BA;
}

.modal-body
{
    background-color: #E2E2E2;
}

.modal-footer
{
    background-color: #E2E2E2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-control
{
    border: 2px solid #2980BA !important;
}

.form-select
{
    border: 2px solid #2980BA !important;
}

.new-project-form
{
    margin-left: 20px;
    margin-right: 20px;
    align-content: center !important;
    align-items: center !important;
}

#NewProjectStatus
{
    color: #FF5364;
    font-weight: bold;
    text-align: center;
}

.modal-footer
{
    flex-direction: column !important;
}

.create-project-button
{
    width: 200px;
    height: auto;
}

.cancel-button2
{
    width: 120px;
    height: auto;
}

#createProjectButtonImg
{
    max-width: 100%;
    height: auto;
}

#cancelButtonImg
{
    max-width: 100%;
    height: auto;
}