.div-register
{
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: #E2E2E2;
    padding: 10px;
    margin-top: 10vh;
    align-items: center;
    border-radius: 7% / 5%;
}

.div-register-form
{
    width: 260px;
    align-items: center;
}

.logo-img
{
    height: 220px;
    width: 220px;
    align-items: center;
}

.register-form-group
{
    height: 50px;
    width: auto;
    margin: 0 auto;
    align-items: center;
}

.register-input
{
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    color: #2980BA;
    border: 2px solid #2980BA;
    border-color: #2980BA;
    border-radius: 7% / 50%;
    text-align: center;
}

.input::placeholder
{
    color: #2980BA;
}

.input::-ms-input-placeholder 
{
    color: #2980BA;
}

input:focus
{
    outline: none;
    border-color: #2980BA !important;
}

button
{
    border-style: none;
    background-color: #E2E2E2;
    margin: 0 auto;
}

.buttons-div
{
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.register-cancel-button
{
    width: 120px;
    height: auto;
}

.register-button2
{
    width: 120px;
    height: auto;
}

#cancelButtonImg
{
    max-width: 100%;
    height: auto;
}

#registerButtonImg
{
    max-width: 100%;
    height: auto;
}

#register-status
{
    color: #FF5364;
    font-weight: bold;
    text-align: center;
}